.icon-container {
    position: relative;
    display: inline-block;
   }
   
   .icon-container img {
    width: 100%;
    height: auto;
   }
   
   .icon-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
   }
   
   .icon-container:hover .icon-hover {
    opacity: 1;
    zoom: 20%;
   }